<div><%= @message.sender.name %></div>
<div><%= @message.text %></div>
<div class="fb-send-to-messenger"
     messenger_app_id="1747584958855089"
     page_id="982472715207823"
     data-ref="RPL_<%= @message.id %>"
     color="blue"
     size="standard" />