<script>
  function inputProfile() {
    $('#input-profile').trigger('click');
  }

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $('#img-profile').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<section id="sign-up" class="first">

  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>계정정보</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <%= form_tag '/celebs', method: :put, id: :edit_celeb_form, multipart: true do %>

            <div class="row control-group">
              <div class="form-group col-xs-6 col-xs-offset-3 floating-label-form-group controls input-image">
                <img id="img-profile" class="img-responsive img-centered img-circle img-profile clickable" onclick="inputProfile()" src="<%= @celeb.profile_pic.blank? ? "/images/profile.png" : @celeb.profile_pic %>"/>
                <input id="input-profile" name="profile" type="file" onchange="readURL(this)" required/>

                <p class="help-block text-danger"></p>
              </div>
            </div>

            <div class="row control-group">
              <div class="form-group col-xs-6 col-xs-offset-3 floating-label-form-group controls">
                <label>닉네임</label>
                <input type="text" class="form-control" placeholder="Nickname" name="name" value="<%= @celeb.name %>" required data-validation-required-message="Please enter your nickname.">

                <p class="help-block text-danger"></p>
              </div>
            </div>

            <br>

            <div id="success"></div>
            <div class="row">
              <div class="form-group col-xs-6 col-xs-offset-3">
                <button type="submit" class="btn btn-success btn-lg">확인</button>
              </div>
            </div>

        <% end %>

      </div>
    </div>

  </div>

</section>