<script>
  $(document).ready(function() {
    window.setTimeout(listenFBiframe, 1500);
  });

  function listenFBiframe() {
    var $fbi = $('.fb-send-to-messenger iframe');

    if (!$fbi.width())
      $('#guide-fb-login').show();

    $fbi.iframeTracker({
      blurCallback: function(){
        window.setTimeout(function() {
          $('.fb-messenger-button').hide();
          $('#guide-fb-messenger').show();
        }, 500)
      }
    });
  }

  function openFB() {
    $('#guide-fb-login').hide();
    $('#guide-refresh').show();
    window.open('https://www.facebook.com', '_blank');
  }

  function openFBM() {
    window.open('https://m.me/982472715207823', '_blank');
  }
</script>

<section class="first">

  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive img-centered img-circle img-profile" src="<%= @model.profile_pic %>" alt="">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><%= @model.name %></h2>
      </div>
    </div>

    <div class="row" style="margin-top: 20px;">
      <div class="col-lg-12">

        <div id="guide-fb-login" class="guide text-center">
          <span>먼저 <a href="javascript:openFB()">페이스북에 로그인</a>해주세요</span>
        </div>

        <div id="guide-refresh" class="guide text-center">
          <span><a href="javascript:location.reload()">페이스북에 로그인 후 클릭</a></span>
        </div>

        <div id="guide-fb-messenger" class="guide text-center">
          <span><a href="javascript:openFBM()">페이스북 메신저</a>에서 계속 진행해주세요</span>
        </div>

        <div class="fb-messenger-button">
          <script>
            window.fbAsyncInit = function () {
              FB.init({
                appId: "1747584958855089",
                xfbml: true,
                version: "v2.6"
              });
            };

            (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {
                return;
              }
              js = d.createElement(s);
              js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
          </script>
          <div class="fb-send-to-messenger"
               messenger_app_id="1747584958855089"
               page_id="982472715207823"
               data-ref="MSG_<%= @model.user.id %>"
               color="blue"
               size="standard"/>
        </div>

      </div>
    </div>

  </div>

</section>