<script>
  function showProceedButton() {
    $('#button-proceed').show();
    $('#guide-pair').hide();
  }
</script>

<section id="sign-up" class="first">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>메신저 연결</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="row">
      <div id="button-proceed" class="form-group col-xs-6 col-xs-offset-3 text-center" style="display: none">
        <a href="/messages">
          <button class="btn btn-success btn-lg">대시보드로 가기</button>
        </a>
      </div>
    </div>

    <div class="row text-center" id="guide-pair">
      <div class="col-lg-12">
        <div>
          팬들에게서 메시지를 받고 영상답장을 하면서 수익을 얻을 수 있습니다.<br/>
          메시징은 페이스북 메신저의 키키봇을 통해서 진행됩니다.<br/>
          키키봇은 팬들과 BJ님 사이에서 메시지를 전달하고 답장금액을 결제하는 역할을 합니다.<br/>
          아래 버튼을 눌러서 BJ님의 페이스북 계정과 키키봇을 연동해주세요.
        </div>
        <%= render '/shared/fb_messenger', message_target: "PTN_#{@user.id}" %>
      </div>
    </div>

  </div>
</section>