<style>
  .content-container {
    width: 45%;
    float: left;
    padding: 10px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
    box-sizing: border-box;
    border: 1px solid #eee;
  }

  @media (max-width: 768px) {
    .content-container {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .content-head {
    height: 40px;
  }

  .content-box {
    position: relative;
    width: 100%;
    padding-top: 100%;
    pointer-events: none;
  }

  .content {
    position: absolute;
    border: none;
    margin-top: -100%;
    width: 100%;
    height: 100%;
  }

  .content-foot {
    height: 60px;
  }

  .video-box {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }
</style>
<script>
  var itemIndex = null;
  var merchantUid = null;
  var itemName = null;

  function setCookie(cname, cvalue, exdays) {
    var d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    var expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function paidIndices() {
    var arrayString = getCookie("paidIndices");
    var indexStrings = arrayString.split(',');
    var paidIndices = [];
    for (var i = 0; i < indexStrings.length; i++) {
      var indexString = indexStrings[i];
      if (indexString)
        paidIndices.push(parseInt(indexString));
    }
    return paidIndices;
  }

  function addPaidIndex(index) {
    var newIndices = paidIndices();
    newIndices.push(index);
    var arrayString = "";
    for (var i = 0; i < newIndices.length; i++)
      arrayString = arrayString + newIndices[i].toString() + ",";
    arrayString = arrayString.substring(0, arrayString.length - 1);
    setCookie("paidIndices", arrayString, 30);
  }

  function startPayment(index) {
    if (paidIndices().indexOf(index) != -1) {
      $('#video-modal-' + index).modal('show');
    } else {
      itemIndex = index;
      merchantUid = index + ":" + new Date().getTime();
      switch (index) {
        case 1:
          itemName = "Pesto Chicken";
          break;
        case 2:
          itemName = "Spinach Shrimp Pasta";
          break;
        case 3:
          itemName = "Beef Bourguignon";
          break;
      }
      $('#agreement-modal').modal('show');
    }
  }

  function selectPayment() {
    if ($('#terms').is(':checked') && $('#privacy').is(':checked')) {
      $('#agreement-modal').modal('hide');
      $('#select-payment-modal').modal('show');
    }
  }

  function makePayment(paymentMethod) {
    $('#select-payment-modal').modal('hide');
    IMP.init("<%= APP_CONFIG[:iamport_api_id] %>");
    IMP.request_pay({
      pg: paymentMethod,
      pay_method: "card",
      escrow: false,
      merchant_uid: merchantUid,
      name: itemName,
      amount: 1000,
      buyer_name: "Guest",
      buyer_email: "guest@kiki.video"
    }, function (rsp) {
      $('#terms').prop('checked', false);
      $('#privacy').prop('checked', false);
      if (rsp.success) {
        addPaidIndex(itemIndex);
        $('#button-' + itemIndex).html('레시피 보기');
        $('#video-modal-' + itemIndex).modal('show');
      }
    });
  }
</script>

<body id="page-top" class="index">

<section>
  <div class="row">
    <div class="col-lg-12 text-center" style="padding-top: 20px;">
      <h2>쉽게 따라하는 동영상 레시피 쇼핑몰 - 키키</h2>
      <hr class="star-primary">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="content-container">
        <div class="content-head">
          <h3>Pesto Chicken</h3>
        </div>
        <div class="content-box">
          <img class="content" src="http://res.cloudinary.com/ddi2eoisw/image/upload/v1484289915/pesto_chicken_nc6xnb.png" />
        </div>
        <div class="content-foot">
          <p>This Easy Pesto Chicken And Veggie Recipe Is Perfect For Meal Prep</p>
        </div>
        <div class="text-right">
          <p>￦1,000</p>
          <button id="button-1" class="btn btn-success btn-lg" onclick="startPayment(1);">레시피 보기</button>
        </div>
      </div>

      <div class="content-container">
        <div class="content-head">
          <h3>Spinach Shrimp Pasta</h3>
        </div>
        <div class="content-box">
          <img class="content" src="http://res.cloudinary.com/ddi2eoisw/image/upload/v1484289915/shrimp_pasta_kzqewh.png" />
        </div>
        <div class="content-foot">
          <p>Creamy One-Pot Spinach Shrimp Pasta</p>
        </div>
        <div class="text-right">
          <p>￦1,000</p>
          <button id="button-2" class="btn btn-success btn-lg" onclick="startPayment(2);">레시피 보기</button>
        </div>
      </div>

      <div class="content-container">
        <div class="content-head">
          <h3>Beef Bourguignon</h3>
        </div>
        <div class="content-box">
          <img class="content" src="http://res.cloudinary.com/ddi2eoisw/image/upload/v1484289915/beef_bourginon_tyh3m9.png" />
        </div>
        <div class="content-foot">
          <p>Hearty and decadent, the traditional French recipe is perfect when you want to impress</p>
        </div>
        <div class="text-right">
          <p>￦1,000</p>
          <button id="button-3" class="btn btn-success btn-lg" onclick="startPayment(3);">레시피 보기</button>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="agreement-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">비회원 이용동의</h4>
      </div>

      <div class="modal-body">
        <div class="row control-group">
          <div class="checkbox col-xs-12 controls">
            <label>
              <input type="checkbox" name="terms_accepted" id="terms" required> 이용약관
            </label>

            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 agreements_frame">
            <iframe class="agreements" src="/terms_of_agreements_user.html"></iframe>
          </div>
        </div>

        <div class="row control-group">
          <div class="checkbox col-xs-12 controls">
            <label>
              <input type="checkbox" name="privacy_accepted" id="privacy" required> 개인정보처리방침
            </label>

            <p class="help-block text-danger"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 agreements_frame">
            <iframe class="agreements" src="/privacy_policy_user.html"></iframe>
          </div>
        </div>

        <br>

        <div id="success"></div>
        <div class="row">
          <div class="form-group col-xs-12 text-right">
            <button class="btn btn-success btn-lg" onclick="selectPayment();">결제</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="select-payment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">결제방식 선택</h4>
      </div>

      <div class="modal-body">
        <div class="row">
          <div class="form-group col-xs-12 text-center">
            <button class="btn btn-success btn-lg" onclick="makePayment('html5_inicis');">신용카드-KG이니시스</button>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12 text-center">
            <button class="btn btn-success btn-lg" onclick="makePayment('kakao');">카카오페이</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video-modal-1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Pesto Chicken</h4>
      </div>
      <div class="modal-body">
        <div class="video-box">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fofficialgoodful%2Fvideos%2F1335204206550042%2F&show_text=0" class="content" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <a href="http://res.cloudinary.com/ddi2eoisw/video/upload/v1484217951/pesto_chicken_vd41ei.mov" download="PestoChicken.mp4" class="btn btn-success btn-lg">다운로드</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video-modal-2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Spinach Shrimp Pasta</h4>
      </div>
      <div class="modal-body">
        <div class="video-box">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fbuzzfeedtasty%2Fvideos%2F1856219931297314%2F&show_text=0" class="content" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <a href="http://res.cloudinary.com/ddi2eoisw/video/upload/v1484217957/shrimp_pasta_thl65t.mov" download="SpinachShrimpPasta.mp4" class="btn btn-success btn-lg">다운로드</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="video-modal-3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Beef Bourguignon</h4>
      </div>
      <div class="modal-body">
        <div class="video-box">
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ftastemade%2Fvideos%2F1352643754801622%2F&show_text=0" class="content" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
        </div>
      </div>
      <div class="modal-footer">
        <a href="http://res.cloudinary.com/ddi2eoisw/video/upload/v1484217952/beef_bourginon_gi4yjk.mov" download="BeefBourguignon.mp4" class="btn btn-success btn-lg">다운로드</a>
      </div>
    </div>
  </div>
</div>

</body>