<section id="sign-up" class="first">
  <div class="container" style="height: 300px;">

    <div class="row">
      <div class="col-lg-12 text-center">

        <% time_uid = Time.now.strftime('%y%m%d%H%M%S') %>

        <script>
          $(document).ready(function () {
            IMP.init("<%= APP_CONFIG[:iamport_api_id] %>");
            IMP.request_pay({
              pg: "kakao",
              pay_method: "card",
              escrow: false,
              merchant_uid: "<%= time_uid %>",
              name: "담요",
              amount: 5000,
              buyer_name: "석촌",
              app_scheme: "",
              digital: true
            }, function (rsp) {
              if (rsp.success) {
                var msg = '결제가 완료되었습니다.<br>' + "<%= time_uid %>";
              } else {
                var msg = '결제에 실패하였습니다.' + '<br>';
                msg += '에러내용 : ' + rsp.error_msg + '<br>';
              }
              $('#response-message').html(msg).show();
            });
          });
        </script>
        <p id="response-message"></p>

      </div>
    </div>

  </div>
</section>