<body id="page-top" class="index">

<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">Start Kiki</span>
          <hr class="star-light">
          <span class="skills">BJ와 팬들이 소통하는 새로운 방식</span>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>HOW</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 portfolio-item text-center">
        <p>KIKI 서비스에 가입하고 메신저 링크 페이지를 발급받으세요</p>
        <img src="images/guide-1.png" class="img-responsive guide" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 portfolio-item text-center">
        <p>팬들에게 메신저 링크를 홍보하세요</p>
        <img src="images/guide-2.png" class="img-responsive guide" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 portfolio-item text-center">
        <p>수신한 팬 메시지를 대시보드에서 확인할 수 있습니다</p>
        <img src="images/guide-3.png" class="img-responsive guide" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 portfolio-item text-center">
        <p>영상으로 답장을 보내면 수익을 얻을 수 있어요!</p>
        <img src="images/guide-4.png" class="img-responsive guide" alt="">
      </div>
    </div>
  </div>
</section>

<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>NOW WHAT</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="/celebs/new" class="btn btn-lg btn-outline">
          KIKI 시작하기
        </a>
      </div>
    </div>
  </div>
</section>

</body>