@import "bootstrap.min";
@import "font-awesome.min";
@import "freelancer";

.fb-messenger-button {
  width: 389.61px;
  padding-left: 133.61px;
  margin: 20px auto;
}

input#input-profile {
  position: absolute;
  margin-top: -1000px;
}

.clickable {
  cursor: pointer;
}

.img-profile {
  width: 200px;
  height: 200px;
}