<section id="sign-in" class="first">

  <div class="container">

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>새 비밀번호가 메일로 발송되었습니다.</p>
      </div>
    </div>

  </div>

</section>